.ui-widget {
	font-size: 12px !important;
}

.obrigatorio{
	color: red;
}

.acoesSemBorda td {
	border: none !important;
}

.acoesSemBorda .ui-chkbox-label {
	margin: 0px 0 0 3px;
}

.acoesSemBorda img {
	margin-left: auto;
	margin-right: auto;
}